<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('part_head', {title: title}) %>
    <link rel="stylesheet" href="/stylesheets/style_main.css">
    <script src="/javascripts/logger.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <%- include(partial) %>
</div>
</body>
</html>
