<div id="menu">
    <!--class="extended"-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <ul>
        <li>
            <div class="marked" href="#">
                <a href="/users/<%= userId %>">
                    <img class="icon icon-sidebar" src="/images/file.png">
                    <h6>Wszystkie pliki</h6>
                </a>
                <span id="drop">
                    <i style='font-size:20px;' class='fas'>&#xf0d7;</i>
                </span>
            </div>
            <ul id="menu-sub">
                <%if(dane != '') {
                    for(var item of dane){ %>
                <li><%= item.filetype %></li>
                <% }
                } %>
            </ul>
        </li>
        <li>
            <div class="marked">
                <img class="icon icon-sidebar" src="/images/star.png">
                <h6>Ulubione</h6>
            </div>
        </li>

        <li>
            <div class="marked">
                <img class="icon icon-sidebar" src="/images/kosz.png">
                <h6>Kosz</h6>
            </div>
        </li>
        <hr>
        <li>
            <div class="not-hover">
                <img class="icon icon-sidebar" src="/images/chmura.png">
                <h6>Dostępne miejsce: <%= spacetaken %>KB/100MB</h6>
                <br><br><br id="br-displayed">
                <div class="w3-light-grey">
                    <% perc = spacetaken/100000 * 100 %>
                    <div class="w3-blue" style="height:4px; width:<%= perc %>%"></div>
                </div>

            </div>
        </li>
    </ul>
</div>