<div class="d-flex justify-content-center h-100 register-form">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center">Zarejestruj się</h3>

        </div>
        <div class="card-body">
            <form id="register">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="login">

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="hasło">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="powtórz hasło">
                </div>
                <div class="form-group">
                    <input type="button" value="Rejestracja" onclick="registerUser()" class="btn float-right login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Masz już konto?
            </div>
            <div class="d-flex justify-content-center">
                <a href="/">Zaloguj się!</a>
            </div>
        </div>
    </div>
</div>