<nav id="header" class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="#">
        <div class="marked" onclick="extend()">
            <img class="icon" src="/images/menu.png">
        </div>
    </a>
    <a class="navbar-brand" href="#">
        <img id="repo_icon" src="/images/repozytorium.png">
    </a>
    <a class="navbar-brand" href="#">
        <h2>Repozytorium</h2>
    </a>

    <!--<form id="searchbar" class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-1" type="text" placeholder="Search">
        <button class="btn btn-info" type="submit">Search</button>
    </form>-->
    <form class="navbar-form" role="search" style="width: 40%; margin: 0 auto;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="" name="srch-term" id="srch-term">
            <button class="btn btn-info" type="submit">Search</button>
        </div>
    </form>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <img id="contrast" src="/images/kontrast.png" style="height: 30px; margin-top: 10px;">
        </li>
        <li class="nav-item" style="margin-top: 11px; margin-left: 15px;">
            <h5 style="color: #0066cc;">Nazwa</h5>
        </li>
        <li class="nav-item">
            <img id="user_icon" src="/images/user.png" style="height: 50px;">
        </li>
    </ul>
</nav>