<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('part_head', {title: title}) %>
    <link rel="stylesheet" href="/stylesheets/style_users.css">
    <script src="/javascripts/users.js" type="text/javascript"></script>
</head>
<body>
    <%- include('part_header', {userId: userId}) %>
    <%- include('part_sidebar', {spacetaken: spacetaken, dane: dane.fileData, userId: userId}) %>
    <article id="content">
        <%- include(partial, {dane: dane.mainData, userId: userId}) %>
    </article>
    <span class="add-file">
        <i class="fas fa-plus-circle fa-3x"></i>
    </span>
</body>
</html>
