article {
    background: linear-gradient(rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)),
    url('https://image.freepik.com/free-vector/empty-cardboard-box-opened_34950-8.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 53% 50%;
}

.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 40vh;
    margin: auto;
    text-align: center;
    position: absolute;
}

.container h1 {
    font-size: 260%;
}

.container h2 {
    font-size: 220%;
    margin-top: 20vh;
}